body {
    background-color: white;
    color: black;
    font-family: 'Courier New', monospace;
    height: 100vh;
    font-size: 16px; /* Fixed size, no scaling */
    line-height: 1; /* Exactly 1x line height */
}

.terminal {
    display: grid;
    justify-content: center;
    align-items: center;
    white-space: pre; 
}

.asci_logo{
    text-align: center;
}

.asci_note{
    text-align: center;
}

.asci_projects{
    text-align: center;
}